@font-face {
	font-family: QuestaGrandeRegular;
	src: url("/css/2-questa_grande_regular_31.otf") format("opentype");
	font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'OpenSans';
	background-color: #e9f0db;
}

.tabs {
	display: flex;
	justify-content: center;

	background-color: #74923A;
	padding-top: 2px;
	border-top: 3px solid #495b24;
	border-bottom: 3px solid #495b24;
}

.tabs li {
	list-style-type: none;
	display: inline;

	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	color: black;
	padding-left: 10px;
	padding-right: 10px;
}

a {
	color: #495b24;
}

a:hover {
	color: white;
	transition: 0.3s;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	margin-top: 25px;
}

img {
	max-width: 50%;
	height: auto;

	display: block;
	margin-left: auto;
	margin-right: auto;

	border: 3px solid #495b24;
	border-radius: 0.5%;
}

h2 {
	font-family: 'Roboto', sans-serif;
}

.contentt {
	columns: 3;
	justify-content: center;

	margin-left: auto;
	margin-right: auto;
}

.contentt li {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	list-style-type: none;
	display: block;
}

p {
	font-family: 'Roboto', sans-serif;
}

th {
	font-family: 'Roboto', sans-serif;
}

td {
	font-family: "Roboto", sans-serif;
}
