@font-face {
	font-family: QuestaGrandeRegular;
	src: url("/css/2-questa_grande_regular_31.otf") format("opentype");
	font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'OpenSans';
	background-color: #ececa3;
}

h1 {
}

.tabs {
	display: flex;
	justify-content: center;

	background-color: #74923A;
}

.tabs li {
	list-style-type: none;
	display: inline;
	font-family: 'Roboto';

}
